## Working With SQL

In [1]:
import pandas as pd
import numpy as np

In [4]:
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
                                              0.0/11.9 MB ? eta -:--:--
                                              0.1/11.9 MB 2.0 MB/s eta 0:00:07
     -                                        0.4/11.9 MB 1.9 MB/s eta 0:00:06
     -                                        0.5/11.9 MB 2.2 MB/s eta 0:00:06
     --                                       0.8/11.9 MB 3.0 MB/s eta 0:00:04
     ---                                      1.1/11.9 MB 3.2 MB/s eta 0:00:04
     ------                                   2.0/11.9 MB 4.2 MB/s eta 0:00:03
     ---------                                2.7/11.9 MB 4.8 MB/s eta 0:00:02
     ----------                               3.1/11.9 MB 4.9 MB/s eta 0:00:02
     -----------                              3.5/11.9 MB 4.9 MB/s eta 0:00:02
     -------------                            3.9/11.9 MB 5.0 MB/s eta 0:00:02
     ---------------                          4.5/11.9 MB 5.1 MB/s eta 0:00:02
     ----------------                         4.9/11.9 MB 5.2 MB/s eta 0:00:02
     ------------------                       5.4/11.9 MB 5.3 MB/s eta 0:00:02
     -------------------                      5.9/11.9 MB 5.4 MB/s eta 0:00:02
     ---------------------                    6.5/11.9 MB 5.5 MB/s eta 0:00:01
     -----------------------                  6.9/11.9 MB 5.5 MB/s eta 0:00:01
     ------------------------                 7.3/11.9 MB 5.6 MB/s eta 0:00:01
     --------------------------               7.8/11.9 MB 5.6 MB/s eta 0:00:01
     -----------------------------            8.6/11.9 MB 5.7 MB/s eta 0:00:01
     ------------------------------           9.2/11.9 MB 5.7 MB/s eta 0:00:01
     --------------------------------         9.6/11.9 MB 5.7 MB/s eta 0:00:01
     ---------------------------------        9.9/11.9 MB 5.7 MB/s eta 0:00:01
     ----------------------------------       10.2/11.9 MB 5.8 MB/s eta 0:00:01
     -----------------------------------      10.5/11.9 MB 6.1 MB/s eta 0:00:01
     ------------------------------------     10.8/11.9 MB 6.3 MB/s eta 0:00:01
     -------------------------------------    11.2/11.9 MB 6.4 MB/s eta 0:00:01
     --------------------------------------   11.6/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 4.6 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247959 sha256=e76a309552f599c29d6391030da0de5b0af49eb63ffa6ae235cab89a335976ed
  Stored in directory: c:\users\akash\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:

import mysql.connector

In [7]:
conn = mysql.connector.connect(host = 'localhost' , user = 'root' , password = '' , database = 'World')

In [14]:
pd.read_sql_query("SELECT * FROM countrylanguage" , conn)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_8224\391878558.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM countrylanguage" , conn)

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]